
.jumbotron{
  background-image: url('image/norris-niman-ABtmE3jhaPQ-unsplash.jpg');
  background-size: cover;
  height: 500px;
}



.upload{
  border: 1px dashed rgba(43,59,74,.3);
  padding: 30px;
  background: #f8f9f9;
}

/*COUSTUM OPLOAD BUTTON*/
input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #00ab6b;
  border-radius: 25px;
  display: inline-block;
  padding: 6px 20px;
  cursor: pointer;
  color: #ffffff;
}

/*GALERI IMAGE*/
.gallery-container{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: .2rem;
  grid-auto-rows: 200px 400px; 
}

.gallery-item{
  width: 100%;
  height: 100%;
  position: relative;
}

.image{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: .3s linear;
  cursor: pointer;
}

.image img:hover{
  transform: scale(1.3);
}

.text{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #6eed65;
  font-size: 30px;
  transition: .3s linear;
  pointer-events: none;
}

.gallery-item:hover .text{
  opacity: 1;
  animation: move-down .3s linear;
}

@keyframes move-down{
  0%{
    top: 10%;  
  }
  50%{
    top: 35%;
  }
  100%{
  top: 50%;
  }
}

.gallery-container div:nth-child(1){
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-container div:nth-child(2){
  grid-column: span 2;
}

.gallery-container div:nth-child(3){
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-container div:nth-child(4){
  grid-row: span 2;
  grid-column: span 2;
}

.gallery-container div:nth-child(5){
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-container div:nth-child(6){
  grid-column: span 2;
}
.gallery-container div:nth-child(7){
  grid-column: span 4;
}

@media(max-width: 500px){
  .gallery-container{
    grid-template-columns: 1fr;
  }
}


